# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Secrets
.env

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log

# MongoDB dumps and data files
*.dump

# Python specific
*.pyo
*.pyd
*.pdb

# Pytest cache
.cache/
pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# FastAPI generated static files (if any)
staticfiles/

# Docker
docker-compose.override.yml